// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Multiselect
@import '@suadelabs/vue3-multiselect/dist/vue3-multiselect.css';

// Custom
@import "custom";
